# Brand Names for Image Retrieval From Instagram

**Goal:** process data to get all brand names to search for images on instagram

### 1. Import dependencies

Install non-standard libraries: requests, BeautifulSoup

In [1]:
import os
import pandas as pd
import numpy as np

### 2. Get Brand Names from Data

In [2]:
# to specify
directory= r'C:\Users\r_the\Documents\DLfM_BrandManagement\other_project\brand_hashtag_and_account'
os.chdir(directory)

#### 2.1 Load all dataframes 

There are dataframes for apparel and beverage brand category. Then, there are total dataframes that include both brand categories and add the information about the full name and instagram name of the brand name. 

First, we get out apparel brand dataframes.

In [3]:
#convert to dataframe 

data1 = pd.read_csv('apparel_brands.txt', header=None)
data1.columns = ["apparel_brands"]
data1 = data1.sort_values(by='apparel_brands')
print(data1.head())
print(data1.info())

    apparel_brands
10     abercrombie
12          adidas
6        anntaylor
0   bananarepublic
14        carhartt
<class 'pandas.core.frame.DataFrame'>
Int64Index: 29 entries, 10 to 13
Data columns (total 1 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   apparel_brands  29 non-null     object
dtypes: object(1)
memory usage: 464.0+ bytes
None

In [4]:
data2 = pd.read_csv('apparel_full_brand_names.txt', header=None)
data2.columns = ["apparel_full_brand_names"]
data2 = data2.sort_values(by='apparel_full_brand_names')
print(data2.head())
print(data2.info())

  apparel_full_brand_names
0      Abercrombie & Fitch
1                   Adidas
2               Ann Taylor
3          Banana Republic
4                 Carhartt
<class 'pandas.core.frame.DataFrame'>
Int64Index: 29 entries, 0 to 28
Data columns (total 1 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   apparel_full_brand_names  29 non-null     object
dtypes: object(1)
memory usage: 464.0+ bytes
None

In [5]:
data3 = pd.read_csv('official_apparel_brands.txt', header=None)
data3.columns = ["official_apparel_brands"]
data3 = data3.sort_values(by='official_apparel_brands')
print(data3.head())
print(data3.info())

   official_apparel_brands
10             abercrombie
12                  adidas
6                anntaylor
0           bananarepublic
14                carhartt
<class 'pandas.core.frame.DataFrame'>
Int64Index: 29 entries, 10 to 13
Data columns (total 1 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   official_apparel_brands  29 non-null     object
dtypes: object(1)
memory usage: 464.0+ bytes
None

Get out all beverage brands.

In [6]:
data4 = pd.read_csv('beverage_brands.txt', header=None)
data4.columns = ["beverage_brands"]
data4 = data4.sort_values(by='beverage_brands',ignore_index=True)
print(data4.head())
print(data4.info())

  beverage_brands
0         bacardi
1         bigelow
2        budlight
3       budweiser
4        cocacola
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 1 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   beverage_brands  27 non-null     object
dtypes: object(1)
memory usage: 344.0+ bytes
None

In [7]:
data5 = pd.read_csv('beverage_full_brand_names.txt', header=None)
data5.columns = ["beverage_full_brand_names"]
data5 = data5.sort_values(by='beverage_full_brand_names',ignore_index=True)
print(data5.head())
print(data5.info())

  beverage_full_brand_names
0                   Bacardi
1             Bigelow's Tea
2                 Bud Light
3                 Budweiser
4                 Coca-Cola
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 1 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   beverage_full_brand_names  27 non-null     object
dtypes: object(1)
memory usage: 344.0+ bytes
None

In [8]:
data6 = pd.read_csv('official_beverage_brands.txt', header=None)
data6.columns = ["official_beverage_brands"]
data6 = data6.sort_values(by='official_beverage_brands',ignore_index=True)
print(data6.head())
print(data6.info())

  official_beverage_brands
0               bacardiusa
1               bigelowtea
2                 budlight
3                budweiser
4                 cocacola
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 1 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   official_beverage_brands  24 non-null     object
dtypes: object(1)
memory usage: 320.0+ bytes
None

Get apparel + beverage dataframes 

Convert the brand names of a user profile to a full brand name or a hashtag to a full brandname or vice versa.

In [9]:
data7 = pd.read_csv('official_account_to_brand_name.txt')
data7.sort_values(by='firm_account')
data7.columns = ['firm_account', 'brand_full_name']
print(data7)
print(data7.info())

              firm_account       brand_full_name
0              abercrombie   Abercrombie & Fitch
1                   adidas                Adidas
2                anntaylor            Ann Taylor
3               bacardiusa               Bacardi
4           bananarepublic       Banana Republic
5               bigelowtea         Bigelow`s Tea
6                 budlight             Bud Light
7                budweiser             Budweiser
8                 carhartt              Carhartt
9                 cocacola             Coca-Cola
10                converse              Converse
11              coorslight           Coors Light
12                  corona                Corona
13           dockerskhakis               Dockers
14            dolcegabbana       Dolce & Gabbana
15             domperignon          Dom Perignon
16                drpepper             Dr Pepper
17              eddiebauer           Eddie Bauer
18                   fanta                 Fanta
19                     gap                   Gap
20                gatorade              Gatorade
21               greygoose            Grey Goose
22                   gucci                 Gucci
23                   guess                 Guess
24             hanesbrasil                 Hanes
25             hollisterco             Hollister
26               honesttea            Honest Tea
27          jackdaniels_us         Jack Daniel`s
28                   jcrew               J. Crew
29           joeboxerlicky             Joe Boxer
30            juicycouture         Juicy Couture
31             kennethcole          Kenneth Cole
32             korbel_1882                Korbel
33                   levis                Levi`s
34                  lipton                Lipton
35                  llbean             L.L. Bean
36            luckybrandme     Lucky Brand Jeans
37             moetchandon        Moet & Chandon
38           monsterenergy       Monster (drink)
39              nesquikusa               NesQuik
40                 oldnavy              Old Navy
41             oshkoshkids               OshKosh
42                   prada                 Prada
43             ralphlauren          Ralph Lauren
44  sanpellegrino_official        San Pellegrino
45                 snapple               Snapple
46                    tazo                  Tazo
47           tommyhilfiger        Tommy Hilfiger
48             underarmour          Under Armour
49         urbanoutfitters      Urban Outfitters
50         victoriassecret     Victoria`s Secret
51            vitaminwater          vitaminwater
52                  welchs               Welch`s
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   firm_account     53 non-null     object
 1   brand_full_name  53 non-null     object
dtypes: object(2)
memory usage: 976.0+ bytes
None

In [10]:
data8 = pd.read_csv('instagram_hashtag_to_brand_name.txt')
data8.columns = ['instagram_hashtag', 'brand_full_name']
print(data8)
print(data8.info())

   instagram_hashtag       brand_full_name
0              fanta                 Fanta
1         coorslight           Coors Light
2          greygoose            Grey Goose
3             corona                Corona
4      monsterenergy       Monster (drink)
5         minutemaid           Minute Maid
6           gatorade              Gatorade
7        jackdaniels         Jack Daniel`s
8        abercrombie   Abercrombie & Fitch
9           carhartt              Carhartt
10        eddiebauer           Eddie Bauer
11          joeboxer             Joe Boxer
12       underarmour          Under Armour
13            adidas                Adidas
14          cocacola             Coca-Cola
15      juicycouture         Juicy Couture
16   urbanoutfitters      Urban Outfitters
17         anntaylor            Ann Taylor
18          converse              Converse
19               gap                   Gap
20       kennethcole          Kenneth Cole
21           oldnavy              Old Navy
22   victoriassecret     Victoria`s Secret
23            korbel                Korbel
24      vitaminwater          vitaminwater
25           bacardi               Bacardi
26             levis                Levi`s
27             prada                 Prada
28    bananarepublic       Banana Republic
29           dockers               Dockers
30             guess                 Guess
31            lipton                Lipton
32     sanpellegrino        San Pellegrino
33           bigelow         Bigelow`s Tea
34      dolcegabbana       Dolce & Gabbana
35             hanes                 Hanes
36        luckybrand     Lucky Brand Jeans
37           snapple               Snapple
38          budlight             Bud Light
39       domperignon          Dom Perignon
40         honesttea            Honest Tea
41         budweiser             Budweiser
42          drpepper             Dr Pepper
43       moetchandon        Moet & Chandon
44              tazo                  Tazo
45            llbean             L.L. Bean
46           oshkosh               OshKosh
47       ralphlauren          Ralph Lauren
48             gucci                 Gucci
49     tommyhilfiger        Tommy Hilfiger
50         hollister             Hollister
51             jcrew               J. Crew
52            welchs               Welch`s
53             motts                Mott`s
54           nesquik               NesQuik
55         swissmiss            Swiss Miss
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   instagram_hashtag  56 non-null     object
 1   brand_full_name    56 non-null     object
dtypes: object(2)
memory usage: 1.0+ KB
None

#### 2.2 Build global dataframe from single dataframes

From the individual dataframes about apparel and beverage, a global dataframe is built which gives an overview over all brand names and categorizes them into a brand category.

In [11]:
# data cleaning apparel
data2['apparel_full_brand_names'].replace(" Levi's", "Levi's", inplace=True) #levi's aposthrophe different to same 
data7['brand_full_name'].replace(" Levi`s", "Levi's", inplace=True) #levi's aposthrophe different to same
data8['brand_full_name'].replace(" Levi`s", "Levi's", inplace=True) #levi's aposthrophe different to same

data2['apparel_full_brand_names'].replace(" Victoria's Secret", "Victoria's Secret", inplace=True) #victoria's secret's aposthrophe different to same 
data7['brand_full_name'].replace(" Victoria`s Secret", "Victoria's Secret", inplace=True) #victoria's secret's aposthrophe different to same 
data8['brand_full_name'].replace(" Victoria`s Secret", "Victoria's Secret", inplace=True) #victoria's secret's aposthrophe different to same

In [12]:
# data cleaning beverage
data5['beverage_full_brand_names'].replace(" Bigelow's Tea", "Bigelow's Tea", inplace=True) #bigelow's aposthrophe different to same 
data7['brand_full_name'].replace(' Bigelow`s Tea', "Bigelow's Tea", inplace=True) #bigelow's secret's aposthrophe different to same 
data8['brand_full_name'].replace(' Bigelow`s Tea', "Bigelow's Tea", inplace=True) #bigelow's secret's aposthrophe different to same 

data5['beverage_full_brand_names'].replace(" Jack Daniel's", "Jack Daniel's", inplace=True) #jack daniel's aposthrophe different to same 
data7['brand_full_name'].replace(' Jack Daniel`s', "Jack Daniel's", inplace=True) #jack daniel's aposthrophe different to same
data8['brand_full_name'].replace(' Jack Daniel`s', "Jack Daniel's", inplace=True) #jack daniel's aposthrophe different to same

data5['beverage_full_brand_names'].replace(" Mott's", "Mott's", inplace=True) #mott's aposthrophe different to same 
data7['brand_full_name'].replace(' Mott`s', "Mott's", inplace=True) #mott's aposthrophe different to same 
data8['brand_full_name'].replace(' Mott`s', "Mott's", inplace=True) #mott's aposthrophe different to same 

data5['beverage_full_brand_names'].replace(" Welch's", "Welch's", inplace=True) #welch's aposthrophe different to same 
data7['brand_full_name'].replace(' Welch`s', "Welch's", inplace=True) #welch's aposthrophe different to same 
data8['brand_full_name'].replace(' Welch`s', "Welch's", inplace=True) #welch's aposthrophe different to same

data5['beverage_full_brand_names'].replace(' Monster', 'Monster', inplace=True) #monster with no whitespace 
data7['brand_full_name'].replace(' Monster (drink)', 'Monster', inplace=True) #remove (drink) from Monster
data8['brand_full_name'].replace(' Monster (drink)', 'Monster', inplace=True) #remove (drink) from Monster

data5['beverage_full_brand_names'].replace(' Vitaminwater', 'Vitaminwater', inplace=True) #vitaminwater with no whitespace 
data7['brand_full_name'].replace(' vitaminwater', 'Vitaminwater', inplace=True) #vitaminwater lowercase v to uppercase V
data8['brand_full_name'].replace(' vitaminwater', 'Vitaminwater', inplace=True) #vitaminwater lowercase v  to uppercase V

In [13]:
# merge apparel datasets

data13 = pd.concat([data1, data3], axis=1)
data13.head()

    apparel_brands official_apparel_brands
10     abercrombie             abercrombie
12          adidas                  adidas
6        anntaylor               anntaylor
0   bananarepublic          bananarepublic
14        carhartt                carhartt

In [14]:
data27 = pd.merge(data2, data7, how='outer', left_on='apparel_full_brand_names', right_on='brand_full_name')
data27.head()

  apparel_full_brand_names    firm_account       brand_full_name
0      Abercrombie & Fitch     abercrombie   Abercrombie & Fitch
1                   Adidas          adidas                Adidas
2               Ann Taylor       anntaylor            Ann Taylor
3          Banana Republic  bananarepublic       Banana Republic
4                 Carhartt        carhartt              Carhartt

In [27]:
data1327 = pd.merge(data13, data27, how='outer', left_on='official_apparel_brands', right_on='firm_account')
data1327 = data1327.where(pd.notnull(data1327), None)
data1327.head()

,apparel_brands,official_apparel_brands,apparel_full_brand_names,firm_account,brand_full_name
0,abercrombie,abercrombie,Abercrombie & Fitch,abercrombie,Abercrombie & Fitch
1,adidas,adidas,Adidas,adidas,Adidas
2,anntaylor,anntaylor,Ann Taylor,anntaylor,Ann Taylor
3,bananarepublic,bananarepublic,Banana Republic,bananarepublic,Banana Republic
4,carhartt,carhartt,Carhartt,carhartt,Carhartt

In [16]:
import numpy as np
def f(row):
    if row['apparel_full_brand_names'] != None:
        val = 'apparel'
    else:
        val = 'beverage'
    return val

In [17]:
data1327['brand_category']  = data1327.apply(f, axis=1)
data1327

,apparel_brands,official_apparel_brands,apparel_full_brand_names,firm_account,brand_full_name,brand_category
0,abercrombie,abercrombie,Abercrombie & Fitch,abercrombie,Abercrombie & Fitch,apparel
1,adidas,adidas,Adidas,adidas,Adidas,apparel
2,anntaylor,anntaylor,Ann Taylor,anntaylor,Ann Taylor,apparel
3,bananarepublic,bananarepublic,Banana Republic,bananarepublic,Banana Republic,apparel
4,carhartt,carhartt,Carhartt,carhartt,Carhartt,apparel
5,converse,converse,Converse,converse,Converse,apparel
6,dockers,dockerskhakis,Dockers,dockerskhakis,Dockers,apparel
7,dolcegabbana,dolcegabbana,Dolce & Gabbana,dolcegabbana,Dolce & Gabbana,apparel
8,eddiebauer,eddiebauer,Eddie Bauer,eddiebauer,Eddie Bauer,apparel
9,gap,gap,Gap,gap,Gap,apparel
10,gucci,gucci,Gucci,gucci,Gucci,apparel
11,guess,guess,Guess,guess,Guess,apparel
12,hanes,hanesbrasil,Hanes,hanesbrasil,Hanes,apparel
13,hollister,hollisterco,Hollister,hollisterco,Hollister,apparel
14,jcrew,jcrew,J. Crew,jcrew,J. Crew,apparel
15,joeboxer,joeboxerlicky,Joe Boxer,joeboxerlicky,Joe Boxer,apparel
16,juicycouture,juicycouture,Juicy Couture,juicycouture,Juicy Couture,apparel
17,kennethcole,kennethcole,Kenneth Cole,kennethcole,Kenneth Cole,apparel
18,levis,levis,Levi's,levis,Levi's,apparel
19,llbean,llbean,L.L. Bean,llbean,L.L. Bean,apparel
20,luckybrand,luckybrandme,Lucky Brand Jeans,luckybrandme,Lucky Brand Jeans,apparel
21,oldnavy,oldnavy,Old Navy,oldnavy,Old Navy,apparel
22,oshkosh,oshkoshkids,OshKosh,oshkoshkids,OshKosh,apparel
23,prada,prada,Prada,prada,Prada,apparel
24,ralphlauren,ralphlauren,Ralph Lauren,ralphlauren,Ralph Lauren,apparel
25,tommyhilfiger,tommyhilfiger,Tommy Hilfiger,tommyhilfiger,Tommy Hilfiger,apparel
26,underarmour,underarmour,Under Armour,underarmour,Under Armour,apparel
27,urbanoutfitters,urbanoutfitters,Urban Outfitters,urbanoutfitters,Urban Outfitters,apparel
28,victoriassecret,victoriassecret,Victoria's Secret,victoriassecret,Victoria's Secret,apparel
29,None,None,None,bacardiusa,Bacardi,beverage
30,None,None,None,bigelowtea,Bigelow's Tea,beverage
31,None,None,None,budlight,Bud Light,beverage
32,None,None,None,budweiser,Budweiser,beverage
33,None,None,None,cocacola,Coca-Cola,beverage
34,None,None,None,coorslight,Coors Light,beverage
35,None,None,None,corona,Corona,beverage
36,None,None,None,domperignon,Dom Perignon,beverage
37,None,None,None,drpepper,Dr Pepper,beverage
38,None,None,None,fanta,Fanta,beverage
39,None,None,None,gatorade,Gatorade,beverage
40,None,None,None,greygoose,Grey Goose,beverage
41,None,None,None,honesttea,Honest Tea,beverage
42,None,None,None,jackdaniels_us,Jack Daniel's,beverage
43,None,None,None,korbel_1882,Korbel,beverage
44,None,None,None,lipton,Lipton,beverage
45,None,None,None,moetchandon,Moet & Chandon,beverage
46,None,None,None,monsterenergy,Monster,beverage
47,None,None,None,nesquikusa,NesQuik,beverage
48,None,None,None,sanpellegrino_official,San Pellegrino,beverage
49,None,None,None,snapple,Snapple,beverage
50,None,None,None,tazo,Tazo,beverage
51,None,None,None,vitaminwater,Vitaminwater,beverage
52,None,None,None,welchs,Welch's,beverage

In [49]:
# merge beverage datasets

data45 = pd.concat([data4, data5], axis=1)
data45.head()

  beverage_brands beverage_full_brand_names
0         bacardi                   Bacardi
1         bigelow             Bigelow's Tea
2        budlight                 Bud Light
3       budweiser                 Budweiser
4        cocacola                 Coca-Cola

In [50]:
# filter minute maid, mott's, swiss miss and append them to column end
subdata45=data45.iloc[[16,19,23]] 
data45=data45.drop([16,19,23])
data45=data45.append(subdata45)
data45 = data45.set_index([pd.Index([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26])])
data45

   beverage_brands beverage_full_brand_names
0          bacardi                   Bacardi
1          bigelow             Bigelow's Tea
2         budlight                 Bud Light
3        budweiser                 Budweiser
4         cocacola                 Coca-Cola
5       coorslight               Coors Light
6           corona                    Corona
7      domperignon              Dom Perignon
8         drpepper                 Dr Pepper
9            fanta                     Fanta
10        gatorade                  Gatorade
11       greygoose                Grey Goose
12       honesttea                Honest Tea
13     jackdaniels             Jack Daniel's
14          korbel                    Korbel
15          lipton                    Lipton
16     moetchandon            Moet & Chandon
17   monsterenergy                   Monster
18         nesquik                   NesQuik
19   sanpellegrino            San Pellegrino
20         snapple                   Snapple
21            tazo                      Tazo
22    vitaminwater              Vitaminwater
23          welchs                   Welch's
24      minutemaid               Minute Maid
25           motts                    Mott's
26       swissmiss                Swiss Miss

In [20]:
data456 = pd.concat([data45, data6], axis=1)
data456.head()

  beverage_brands beverage_full_brand_names official_beverage_brands
0         bacardi                   Bacardi               bacardiusa
1         bigelow             Bigelow's Tea               bigelowtea
2        budlight                 Bud Light                 budlight
3       budweiser                 Budweiser                budweiser
4        cocacola                 Coca-Cola                 cocacola

In [29]:
data78 = pd.merge(data7, data8, how='outer', left_on='brand_full_name', right_on='brand_full_name')
data78.head()

     firm_account       brand_full_name instagram_hashtag
0     abercrombie   Abercrombie & Fitch       abercrombie
1          adidas                Adidas            adidas
2       anntaylor            Ann Taylor         anntaylor
3      bacardiusa               Bacardi           bacardi
4  bananarepublic       Banana Republic    bananarepublic

In [30]:
data45678 = pd.merge(data456, data78, how='outer', left_on='beverage_full_brand_names', right_on='brand_full_name')
data45678 = data45678.where(pd.notnull(data45678), None)
data45678.head()

,beverage_brands,beverage_full_brand_names,official_beverage_brands,firm_account,brand_full_name,instagram_hashtag
0,bacardi,Bacardi,bacardiusa,bacardiusa,Bacardi,bacardi
1,bigelow,Bigelow's Tea,bigelowtea,bigelowtea,Bigelow's Tea,bigelow
2,budlight,Bud Light,budlight,budlight,Bud Light,budlight
3,budweiser,Budweiser,budweiser,budweiser,Budweiser,budweiser
4,cocacola,Coca-Cola,cocacola,cocacola,Coca-Cola,cocacola

In [31]:
import numpy as np
def f(row):
    if row['beverage_full_brand_names'] == None:
        val = 'apparel'
    else:
        val = 'beverage'
    return val

In [32]:
data45678['brand_category']  = data45678.apply(f, axis=1)
data45678

,beverage_brands,beverage_full_brand_names,official_beverage_brands,firm_account,brand_full_name,instagram_hashtag,brand_category
0,bacardi,Bacardi,bacardiusa,bacardiusa,Bacardi,bacardi,beverage
1,bigelow,Bigelow's Tea,bigelowtea,bigelowtea,Bigelow's Tea,bigelow,beverage
2,budlight,Bud Light,budlight,budlight,Bud Light,budlight,beverage
3,budweiser,Budweiser,budweiser,budweiser,Budweiser,budweiser,beverage
4,cocacola,Coca-Cola,cocacola,cocacola,Coca-Cola,cocacola,beverage
5,coorslight,Coors Light,coorslight,coorslight,Coors Light,coorslight,beverage
6,corona,Corona,corona,corona,Corona,corona,beverage
7,domperignon,Dom Perignon,domperignon,domperignon,Dom Perignon,domperignon,beverage
8,drpepper,Dr Pepper,drpepper,drpepper,Dr Pepper,drpepper,beverage
9,fanta,Fanta,fanta,fanta,Fanta,fanta,beverage
10,gatorade,Gatorade,gatorade,gatorade,Gatorade,gatorade,beverage
11,greygoose,Grey Goose,greygoose,greygoose,Grey Goose,greygoose,beverage
12,honesttea,Honest Tea,honesttea,honesttea,Honest Tea,honesttea,beverage
13,jackdaniels,Jack Daniel's,jackdaniels_us,jackdaniels_us,Jack Daniel's,jackdaniels,beverage
14,korbel,Korbel,korbel_1882,korbel_1882,Korbel,korbel,beverage
15,lipton,Lipton,lipton,lipton,Lipton,lipton,beverage
16,moetchandon,Moet & Chandon,moetchandon,moetchandon,Moet & Chandon,moetchandon,beverage
17,monsterenergy,Monster,monsterenergy,monsterenergy,Monster,monsterenergy,beverage
18,nesquik,NesQuik,nesquikusa,nesquikusa,NesQuik,nesquik,beverage
19,sanpellegrino,San Pellegrino,sanpellegrino_official,sanpellegrino_official,San Pellegrino,sanpellegrino,beverage
20,snapple,Snapple,snapple,snapple,Snapple,snapple,beverage
21,tazo,Tazo,tazo,tazo,Tazo,tazo,beverage
22,vitaminwater,Vitaminwater,vitaminwater,vitaminwater,Vitaminwater,vitaminwater,beverage
23,welchs,Welch's,welchs,welchs,Welch's,welchs,beverage
24,minutemaid,Minute Maid,None,None,Minute Maid,minutemaid,beverage
25,motts,Mott's,None,None,Mott's,motts,beverage
26,swissmiss,Swiss Miss,None,None,Swiss Miss,swissmiss,beverage
27,None,None,None,abercrombie,Abercrombie & Fitch,abercrombie,apparel
28,None,None,None,adidas,Adidas,adidas,apparel
29,None,None,None,anntaylor,Ann Taylor,anntaylor,apparel
30,None,None,None,bananarepublic,Banana Republic,bananarepublic,apparel
31,None,None,None,carhartt,Carhartt,carhartt,apparel
32,None,None,None,converse,Converse,converse,apparel
33,None,None,None,dockerskhakis,Dockers,dockers,apparel
34,None,None,None,dolcegabbana,Dolce & Gabbana,dolcegabbana,apparel
35,None,None,None,eddiebauer,Eddie Bauer,eddiebauer,apparel
36,None,None,None,gap,Gap,gap,apparel
37,None,None,None,gucci,Gucci,gucci,apparel
38,None,None,None,guess,Guess,guess,apparel
39,None,None,None,hanesbrasil,Hanes,hanes,apparel
40,None,None,None,hollisterco,Hollister,hollister,apparel
41,None,None,None,jcrew,J. Crew,jcrew,apparel
42,None,None,None,joeboxerlicky,Joe Boxer,joeboxer,apparel
43,None,None,None,juicycouture,Juicy Couture,juicycouture,apparel
44,None,None,None,kennethcole,Kenneth Cole,kennethcole,apparel
45,None,None,None,levis,Levi's,levis,apparel
46,None,None,None,llbean,L.L. Bean,llbean,apparel
47,None,None,None,luckybrandme,Lucky Brand Jeans,luckybrand,apparel
48,None,None,None,oldnavy,Old Navy,oldnavy,apparel
49,None,None,None,oshkoshkids,OshKosh,oshkosh,apparel
50,None,None,None,prada,Prada,prada,apparel
51,None,None,None,ralphlauren,Ralph Lauren,ralphlauren,apparel
52,None,None,None,tommyhilfiger,Tommy Hilfiger,tommyhilfiger,apparel
53,None,None,None,underarmour,Under Armour,underarmour,apparel
54,None,None,None,urbanoutfitters,Urban Outfitters,urbanoutfitters,apparel
55,None,None,None,victoriassecret,Victoria's Secret,victoriassecret,apparel

In [37]:
bigdf = pd.merge(data1327, data45678, how='outer')
bigdf = bigdf.where(pd.notnull(bigdf), None)
bigdf = bigdf[['apparel_brands','apparel_full_brand_names','official_apparel_brands',
               'beverage_brands','beverage_full_brand_names','official_beverage_brands',
               'instagram_hashtag', 'firm_account','brand_full_name','brand_category']]
bigdf

,apparel_brands,apparel_full_brand_names,official_apparel_brands,beverage_brands,beverage_full_brand_names,official_beverage_brands,instagram_hashtag,firm_account,brand_full_name,brand_category
0,abercrombie,Abercrombie & Fitch,abercrombie,None,None,None,abercrombie,abercrombie,Abercrombie & Fitch,apparel
1,adidas,Adidas,adidas,None,None,None,adidas,adidas,Adidas,apparel
2,anntaylor,Ann Taylor,anntaylor,None,None,None,anntaylor,anntaylor,Ann Taylor,apparel
3,bananarepublic,Banana Republic,bananarepublic,None,None,None,bananarepublic,bananarepublic,Banana Republic,apparel
4,carhartt,Carhartt,carhartt,None,None,None,carhartt,carhartt,Carhartt,apparel
5,converse,Converse,converse,None,None,None,converse,converse,Converse,apparel
6,dockers,Dockers,dockerskhakis,None,None,None,dockers,dockerskhakis,Dockers,apparel
7,dolcegabbana,Dolce & Gabbana,dolcegabbana,None,None,None,dolcegabbana,dolcegabbana,Dolce & Gabbana,apparel
8,eddiebauer,Eddie Bauer,eddiebauer,None,None,None,eddiebauer,eddiebauer,Eddie Bauer,apparel
9,gap,Gap,gap,None,None,None,gap,gap,Gap,apparel
10,gucci,Gucci,gucci,None,None,None,gucci,gucci,Gucci,apparel
11,guess,Guess,guess,None,None,None,guess,guess,Guess,apparel
12,hanes,Hanes,hanesbrasil,None,None,None,hanes,hanesbrasil,Hanes,apparel
13,hollister,Hollister,hollisterco,None,None,None,hollister,hollisterco,Hollister,apparel
14,jcrew,J. Crew,jcrew,None,None,None,jcrew,jcrew,J. Crew,apparel
15,joeboxer,Joe Boxer,joeboxerlicky,None,None,None,joeboxer,joeboxerlicky,Joe Boxer,apparel
16,juicycouture,Juicy Couture,juicycouture,None,None,None,juicycouture,juicycouture,Juicy Couture,apparel
17,kennethcole,Kenneth Cole,kennethcole,None,None,None,kennethcole,kennethcole,Kenneth Cole,apparel
18,levis,Levi's,levis,None,None,None,levis,levis,Levi's,apparel
19,llbean,L.L. Bean,llbean,None,None,None,llbean,llbean,L.L. Bean,apparel
20,luckybrand,Lucky Brand Jeans,luckybrandme,None,None,None,luckybrand,luckybrandme,Lucky Brand Jeans,apparel
21,oldnavy,Old Navy,oldnavy,None,None,None,oldnavy,oldnavy,Old Navy,apparel
22,oshkosh,OshKosh,oshkoshkids,None,None,None,oshkosh,oshkoshkids,OshKosh,apparel
23,prada,Prada,prada,None,None,None,prada,prada,Prada,apparel
24,ralphlauren,Ralph Lauren,ralphlauren,None,None,None,ralphlauren,ralphlauren,Ralph Lauren,apparel
25,tommyhilfiger,Tommy Hilfiger,tommyhilfiger,None,None,None,tommyhilfiger,tommyhilfiger,Tommy Hilfiger,apparel
26,underarmour,Under Armour,underarmour,None,None,None,underarmour,underarmour,Under Armour,apparel
27,urbanoutfitters,Urban Outfitters,urbanoutfitters,None,None,None,urbanoutfitters,urbanoutfitters,Urban Outfitters,apparel
28,victoriassecret,Victoria's Secret,victoriassecret,None,None,None,victoriassecret,victoriassecret,Victoria's Secret,apparel
29,None,None,None,bacardi,Bacardi,bacardiusa,bacardi,bacardiusa,Bacardi,beverage
30,None,None,None,bigelow,Bigelow's Tea,bigelowtea,bigelow,bigelowtea,Bigelow's Tea,beverage
31,None,None,None,budlight,Bud Light,budlight,budlight,budlight,Bud Light,beverage
32,None,None,None,budweiser,Budweiser,budweiser,budweiser,budweiser,Budweiser,beverage
33,None,None,None,cocacola,Coca-Cola,cocacola,cocacola,cocacola,Coca-Cola,beverage
34,None,None,None,coorslight,Coors Light,coorslight,coorslight,coorslight,Coors Light,beverage
35,None,None,None,corona,Corona,corona,corona,corona,Corona,beverage
36,None,None,None,domperignon,Dom Perignon,domperignon,domperignon,domperignon,Dom Perignon,beverage
37,None,None,None,drpepper,Dr Pepper,drpepper,drpepper,drpepper,Dr Pepper,beverage
38,None,None,None,fanta,Fanta,fanta,fanta,fanta,Fanta,beverage
39,None,None,None,gatorade,Gatorade,gatorade,gatorade,gatorade,Gatorade,beverage
40,None,None,None,greygoose,Grey Goose,greygoose,greygoose,greygoose,Grey Goose,beverage
41,None,None,None,honesttea,Honest Tea,honesttea,honesttea,honesttea,Honest Tea,beverage
42,None,None,None,jackdaniels,Jack Daniel's,jackdaniels_us,jackdaniels,jackdaniels_us,Jack Daniel's,beverage
43,None,None,None,korbel,Korbel,korbel_1882,korbel,korbel_1882,Korbel,beverage
44,None,None,None,lipton,Lipton,lipton,lipton,lipton,Lipton,beverage
45,None,None,None,moetchandon,Moet & Chandon,moetchandon,moetchandon,moetchandon,Moet & Chandon,beverage
46,None,None,None,monsterenergy,Monster,monsterenergy,monsterenergy,monsterenergy,Monster,beverage
47,None,None,None,nesquik,NesQuik,nesquikusa,nesquik,nesquikusa,NesQuik,beverage
48,None,None,None,sanpellegrino,San Pellegrino,sanpellegrino_official,sanpellegrino,sanpellegrino_official,San Pellegrino,beverage
49,None,None,None,snapple,Snapple,snapple,snapple,snapple,Snapple,beverage
50,None,None,None,tazo,Tazo,tazo,tazo,tazo,Tazo,beverage
51,None,None,None,vitaminwater,Vitaminwater,vitaminwater,vitaminwater,vitaminwater,Vitaminwater,beverage
52,None,None,None,welchs,Welch's,welchs,welchs,welchs,Welch's,beverage
53,None,None,None,minutemaid,Minute Maid,None,minutemaid,None,Minute Maid,beverage
54,None,None,None,motts,Mott's,None,motts,None,Mott's,beverage
55,None,None,None,swissmiss,Swiss Miss,None,swissmiss,None,Swiss Miss,beverage

In [51]:
directory= r"C:\Users\r_the\Documents\DLfM_BrandManagement\data"

os.chdir(directory)
bigdf.to:csv('bigdf.csv')

### 3. Save Dataframes to csv

Specify directory to put in all data about dataframes for furhter processing.

In [52]:
# to specify
directory= r"C:\Users\Anonym\Documents\GitHub\DLfM_BrandManagement\data"
folder = 'instagram_urls'

os.chdir(directory)
path = os.path.join(directory, folder)
    
try:  
    os.mkdir(folder)
except: 
    pass

os.chdir(path)

#### Save dataframe

In [17]:
data78.to_csv('hashToOfficialName.csv', index=False)

Put all firm account names (of all brand categories) into a list, which can be iterated over to get images from these firm accounts on Instagram. It is used to specify user-profiles Instagram pages.

In [ ]:
firm_usernames = data7.firm_account.values.tolist()

In [ ]:
def write_list_to_file(guest_list, filename):
    """Write the list to csv file."""

    with open(filename, "w") as outfile:
        for entries in guest_list:
            outfile.write(entries)
            outfile.write("\n")

write_list_to_file(firm_usernames, 'firm_usernames.csv')

Put all hashtag names (of all brand categories) into a list, which can be iterated over to get images from these hashtag results on Instagram. It is used to specify hashed Instagram pages.

In [ ]:
instagram_hashtags = data8.instagram_hashtag.values.tolist()

In [ ]:
def write_list_to_file(guest_list, filename):
    """Write the list to csv file."""

    with open(filename, "w") as outfile:
        for entries in guest_list:
            outfile.write(entries)
            outfile.write("\n")

write_list_to_file(instagram_hashtags, 'instagram_hashtags.csv')